<% let count =10 
 if ((skip != 0)) { 
 count +=skip
} %>
<div class="hint-text">Showing <b><%= count%>

</b> out of <b><%= number %></b>
    entries</div>
<ul class="pagination">
    <li class="page-item disabled"><a href="#">Previous</a></li>
    <li class="page-item"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item active"><a href="#"
            class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">4</a></li>
    <li class="page-item"><a href="#" class="page-link">5</a></li>
    <li class="page-item"><a href="#" class="page-link">Next</a></li>
</ul>